{{#Hi}}
<h1>Hi : {{name}}</h1>
{{/Hi}}

<form action="/logout" method="GET">
  <button type="submit">Log Out</button>
</form>
<form action="/viewCoursework" method="GET">
  <button type="submit">Coursework</button>
</form>