<head>
  
</head>

<body id="body">

    <form action="/newEntry">
        <input type="submit" value="Add new entry" style="background-color: white;border-radius: 15px;" ,="" border-radius:="" 75px;="">
    </form>

    
        <form action="/login">
        <input type="submit" value="Log Out" style="background-color: white;border-radius: 15px;" ,="" border-radius:="" 75px;="">
    </form>

    {{#entries}}
        <div style="background-color: white;border-radius: 15px;border-style: groove;">
          
            
                <h3> Coursework Name: {{Coursework}} </h3>
                <h3> Milestones: {{Milestones}} </h3>
                <h3> Description: {{Description}} </h3>
               <h3> id: {{_id}} </h3>
            
        </div>
    {{/entries}}


<div>
        </form>
        <form action="/deleteCoursework">
        <input type="submit" value="Delete Coursework" style="background-color: white;border-radius: 15px;" ,="" border-radius:="" 75px;="">
    </form>
</div>
            </form>
        <form action="/editEntry">
        <input type="submit" value="Edit Entry" style="background-color: white;border-radius: 15px;" ,="" border-radius:="" 75px;="">
    </form>
<h2>If you wish to share your coursework list with your friends simply copy this link http://localhost:3000/sharedLink </h2>
</body>

<script>
document.getElementById("body").style.backgroundColor = "lightblue"; 
</script>