<head>
    {{>header}}
</head>

<body id="body">
    <form method="post">
        <label for="Coursework">Coursework: </label><br>
        <input type="text" id="Coursework" name="Coursework"><br>

        <label for="Milestones">Milestones: </label><br>
        <input type="text" id="Milestones" name="Milestones"><br>

        <label for="Description">Description: </label><br>
        <input type="text" id="Description" name="Description"><br><br>
        
        <input type="submit" value="Submit" style="background-color: white;border-radius: 15px;" ,="" border-radius:="" 75px;="">
    </form>
</body>
<script>
document.getElementById("body").style.backgroundColor = "lightblue"; 
</script>