<head>
    {{>header}}
</head>

<body>
    <form method="post">
        <label for="Coursework">Coursework: </label><br>
        <input type="text" id="Coursework" name="Coursework"><br>

        <label for="Milestones">Milestones: </label><br>
        <input type="text" id="Milestones" name="Milestones"><br>

        <label for="Description">Description: </label><br>
        <input type="text" id="Description" name="Description"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>