<head>
    {{>header}}
</head>

<body id="body">
    <h1>Register</h1>

    <form method="POST">
        <label for="name">name</label>
        <input type="text" id="name" name="name" required>
        <label for="name">Email</label>
        <input type="text" id="email" name="email" required>
        <label for="name">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" style="background-color: white;border-radius: 15px;">Register</button>
    </form>

    <a href="login">Login</a>
</body>
<script>
document.getElementById("body").style.backgroundColor = "lightblue"; 
</script>