<body id="body">
{{#Hi}}

<h1> {{name}} has shared Coursework with you !</h1>


{{/Hi}}

<form action="/showMe" method="GET">
  <button type="submit">Show me</button>
</form>
</body>
<script>
document.getElementById("body").style.backgroundColor = "lightblue"; 
</script>