{{#entries}}
        <div>
          
            <div>
                <h3> Coursework Name: {{Coursework}} </h3>
                <h3> Milestones: {{Milestones}} </h3>
                <h3> Description: {{Description}} </h3>
               <h3> id: {{_id}} </h3>
            <div>
        </div>
    {{/entries}}